@media screen and  (max-width:740px){
   
.socials{
    width: 170px;
}
.user{
    width: 100px;
}
.lang{
    width: 120px;
}
.mail-info {
    font-size: 15px;
    display: flex;
    align-items: center;
}
.no-info{
    display: flex;
    align-items: center;
    width: 150px;
}

.find select,input{
    width: 200px;
    text-align: left;
    font-size: 14px;
}
.myshop{
    width: 150px;
}

.main-nav{
    width: 740px;
    height: fit-content;
}

}